<div class="episodes d-sm-flex flex-wrap" ng-show="episodes">
 <div class="col-sm-6 col-md-4 card" *ngFor="let episode of episodes">
    <a href="#/novel/{{episode.novelno}}/chapter/{{episode.chapter}}"><img class="card-img-top" src="{{episode.image}}" alt="..."></a>
    <div class="card-body">
      <p class="card-title">{{episode.novelname}} - {{episode.chapter}}</p>
      <p class="card-text">{{episode.sectionname}}</p>
      <p><a href="{{episode.url}}" target="_blank" class="btn btn-primary" role="button">கதை</a> <a href="{{episode.image}}" target="_blank" class="btn btn-default" role="button">படம்</a></p>
    </div>
  </div>
</div>
