<div class="container">
<div class="row justify-content-center">
  <div class="col-md-4">{{message}}</div>
</div>
<div class="row justify-content-center">
  <div class="col-md-4">அத்தியாயங்கள் : {{episodes.length}}</div>
</div>

</div>
<div class="episodes card-columns" style="display: inline-block" ng-show="episodes">
 <div class="card m-1 bg-light" *ngFor="let episode of episodes">
  <div class="card-header">{{episode.novelname}} - {{episode.chapter}}</div>
    <div *ngIf="episode.image">
      <img class="card-img-top" src="{{episode.image}}" alt="...">
    </div>
    <div class="card-body">
      <p class="card-title">நாவல் - {{episode.novelname}}</p>
      <p class="card-text" *ngIf="episode.sectionname.length > 1"> பகுதி - {{episode.sectionname}}</p>
      <p class="card-title">அத்தியாயம் - {{episode.chapter}}</p>
      <p><a href="{{episode.url}}" target="_blank" class="btn btn-primary" role="button">கதை</a>
        <a href="{{episode.image}}" target="_blank" class="btn btn-default" role="button" *ngIf="episode.image">படம்</a></p>
    </div>
  </div>
</div>
