
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/latest">வெண்முரசு <small> - ஜெயமோகன்</small></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown" *ngFor="let novel of novelsWithSections">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{novel.novel.name}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/novel/{{novel.id}}">எல்லா அத்தியாயங்களும்</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/novel/{{section.novelno}}/section/{{section.id}}" *ngFor="let section of novel.sections">{{section.sectionname}}</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/latest">ஆகப்புதிய அத்தியாயம்</a>
        </li>
      </ul>
    </div>
  </nav>
